@model WebApplication2.Models.UserViewModel

@{
    Layout = null;
}

<!Doctype html/>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

    <div class="p-6">
        <table class="min-w-full bg-white border border-gray-200 rounded-lg shadow-lg">
            <thead class="bg-gray-300 text-left">
                <tr>
                    <th class="px-6 py-3 text-gray-600">Name</th>
                    <th class="px-6 py-3 text-gray-600">Surname</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr class="border hover:bg-gray-50">
                        <td class="px-6 py-4 text-gray-800">@user.Name</td>
                        <td class="px-6 py-4 text-gray-800">@user.Surname</td>
                    </tr>
                }
            </tbody>
        </table>
        
        <div class="mt-6 space-x-4">
            <a asp-controller="Home" asp-action="Details" class="shadow-md hover:shadow-xl hover:shadow-blue-500 transition duration-300 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Show more details</a>
            <a asp-controller="Home" asp-action="Add" class="shadow-md hover:shadow-xl hover:shadow-green-500 transition duration-300 bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">New User Add</a>
            <a asp-controller="Home" asp-action="Delete" class="shadow-md hover:shadow-xl hover:shadow-red-500 transition duration-300 bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Delete</a>
        </div>
    </div>

</body>
</html>
